/* GOOGLE FONT IMPORT [POPPINS] */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400&display=swap");

/* DEFAULTS */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", Arial, Helvetica, sans-serif;
}

body {
	height: auto;
	width: 100vw;
	color: #fff;
	background-color: #202020;
	overflow-x: hidden;
}

h1 {
	text-align: center;
	margin: 2rem;
	font-weight: 400;
}

img {
	height: auto;
	width: 50%;
	margin: 0 25%;
	border-radius: 15px;
	box-shadow: 0 0 0.75rem #000;
}

ul {
	width: 50%;
	margin: 2rem 25%;
	font-weight: 300;
	list-style-type: none;
	display: flex;
	justify-content: space-between;
}

a {
	color: #fff;
}

a:hover {
	color: #6dceff;
}

/* RECIPE PAGES ONLY */
h2 {
	margin: 1rem 0 0 7.5rem;
}

p {
	width: 60%;
	margin: 0 20%;
}

.ingredients,
.steps {
	margin: 0 20%;
	flex-direction: column;
}

.ingredients li,
.steps li {
	margin-top: 0.25rem;
}

.copy {
	margin: 5rem auto 2rem auto;
}
