@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', Arial, Helvetica, sans-serif;
}

body {
	height: auto;
	width: 100dvw;
	color: #fff;
	background-color: #202020;
	overflow-x: hidden;
}

/* Home page */
h1 {
	text-align: center;
	margin: 2rem;
	font-weight: 400;
}

img {
	height: auto;
	width: 50%;
	max-width: 500px;
	margin: 2rem auto;
	display: block;
	border: 2px solid #ffffff55;
	border-radius: 15px;
	box-shadow: 0 0 0.75rem #000;
}

ul {
	width: fit-content;
	margin: 0 auto;
	list-style-type: none;
}

li {
	margin: 1rem 0;
}

a {
	color: #fff;
	text-decoration: none;
}

a:hover {
	color: #ffa305;
}

/* Recipe pages */
nav {
	padding: 1rem;
	position: fixed;
	top: 0;
	left: 0;
}

h2 {
	text-align: center;
	margin: 2rem 0 0.5rem 0;
}

p,
ol {
	width: 60%;
	max-width: 800px;
	margin: 0 auto;
}

footer {
	text-align: center;
	margin: 3rem 0 1rem 0;
}
